        <input {% if code_form_id is defined %}form="{{ code_form_id }}"{% endif %} type="hidden" name="csrf" value="{{ csrf }}">
        <label>Перед &lt;/head&gt;<textarea {% if code_form_id is defined %}form="{{ code_form_id }}"{% endif %} class="code-input" name="head" rows="10" spellcheck="false">{{ code.head|default('') }}</textarea></label>
        <label>Перед &lt;/body&gt;<textarea {% if code_form_id is defined %}form="{{ code_form_id }}"{% endif %} class="code-input" name="body_end" rows="10" spellcheck="false">{{ code.body_end|default('') }}</textarea></label>
{% if not hide_code_save|default(false) %}
        <button class="primary" type="submit">Зберегти код</button>
{% endif %}
